*~
*.html
*.pdf
*.xml
*.tmp
*.epub
*.swp
/*.deb
/*.changes
/*.buildinfo
/#*#
/.pmg-doc-depends
/api-viewer/apidoc.js
/asciidoc-pmg
/chapter-index-table.adoc
/link-refs.json
/man1-index-table.adoc
/man5-index-table.adoc
/man8-index-table.adoc
/pmg-doc-generator.mk
/pmg-copyright.adoc
/pmg-docs-[0-9]*/
/pmg-docs_[0-9]*
