Source: pmg-docs
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: asciidoc-dblatex,
               asciidoc-base (>= 10.2.0-2~bpo12+proxmox1),
               debhelper-compat (= 13),
               git,
               libjson-perl,
# do not add libpve-common or pmg-api as dependencies, as that's a good sign
# that somebody missed checking in a generated .adoc file
               imagemagick,
               librsvg2-bin,
               proxmox-widget-toolkit-dev,
               rsync,
               source-highlight,
Standards-Version: 4.6.2

Package: pmg-doc-generator
Section: perl
Architecture: all
Depends: asciidoc-base, libpve-common-perl, xmlto, ${misc:Depends}, ${perl:Depends}
Description: Proxmox Mail Gateway Documentation helpers
 Tool to auto-generate various Proxmox Mail gateway Documentation files and
 manual pages. This package is required to build most other Proxmox Mail
 Gateway packages.

Package: pmg-docs
Section: doc
Depends: libjs-extjs, ${misc:Depends}
Architecture: all
Description: Proxmox Mail Gateway Documentation
 This package contains the Proxmox Mail Gateway documentation files.
