Source: pmg-docs
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: asciidoc-dblatex,
               debhelper (>= 12~),
               git,
               libjson-perl,
               imagemagick,
               librsvg2-bin,
               lintian,
               proxmox-widget-toolkit-dev,
               rsync,
               source-highlight,
Standards-Version: 4.5.1

Package: pmg-doc-generator
Section: perl
Architecture: any
Depends: asciidoc-base, libpve-common-perl, xmlto, ${perl:Depends}
Description: Proxmox Mail Gateway Documentation helpers
 Tool to auto-generate various Proxmox Mail gateway Documentation files and
 manual pages. This package is required to build most other Proxmox Mail
 Gateway packages.

Package: pmg-docs
Section: doc
Depends: libjs-extjs
Architecture: all
Description: Proxmox Mail Gateway Documentation
 This package contains the Proxmox Mail Gateway documentation files.
